.F{
  background-image: url("https://cdn.pixabay.com/photo/2019/09/17/18/48/computer-4484282__480.jpg");
  background-repeat: no-repeat;
    background-size: cover;
width:100%;
    height: 700px; /* You must set a specified height */
  background-position: center; /* Center the image */
}
.block1{
  background-color: #eeb6b4;
/* width: 100%; */
width: 950px;
height: 350px;
position: relative;
left: 130px;
bottom: 250px;
}
h2{
   font-family: 'Bitter', serif;
   color: white;
   margin-left: 25%;
   text-align: center;
}

.aboutme{
  font-family: 'Bitter', serif;
  color: #a9b0cb;
  /* margin-left: 25%; */
  text-align: center;
  font-size: 2rem;
}

.pg1{
  padding-top: 5%;
  padding-bottom: 5%;
font-size: 5.5rem;
color: white;
text-align: center;
  font-family: 'Lobster', cursive;
}
.img1{
  border-radius: 75px;
  width: 70%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.block2{
  background-color: white;
  width: 950px;
  height: 350px;
top: 120px;
left: 150px;
position: relative;

}
.grey{
  background-color: #a9b0cb;
  width: auto;
  height: 500px;
  position: relative;
}
.triangle {
      width: 500px;
      height: 500px;
      border-bottom: 500px solid white;
      border-right: 500px solid transparent;
    }
    .pink{
      background-color: #eeb6b4;
      width: 1460px;
      height: 440px;
      left: 30px;
      top: 30px;
      position: relative;
      color: white;
      text-align: center;
        font-family: 'Lobster', cursive;
        font-size: 3rem;
    }


    .white1{
background-color: white;
width: 450px;
height: 320px;
position: relative;
top: 20px;
left: 40px;
    }
    .white2{
background-color: white;
width: 450px;
height: 320px;
position: relative;
top: 20px;
left: 70px;
    }
    .white3{
  background-color: white;
  width: 450px;
  height: 320px;
  position: relative;
  top: 20px;
  left: 100px;
    }
    .triangle1 {
          width: 120px;
          height: 120px;
          border-bottom: 120px solid  #a9b0cb;
          border-right: 120px solid transparent;
          position: relative;
          right: 12px;
}
.pg-2{
  width: 420px;
  height: 110px;
  position: relative;
  left: 11px;
  top: 9px;
}
.S
{margin-top: 5px;
  margin-bottom: 5px;
}
.PINK-1{
  background-color: #eeb6b4;
  width: auto;
  height: 500px;
  position: relative;
}
.tri{
  width: 500px;
  height: 500px;
  border-bottom: 500px solid  #a9b0cb;
  border-right: 500px solid transparent;
}
.white-S{
  background-color: white;
  width: 1460px;
  height: 440px;
  position: relative;
  left: 30px;
  top: 30px;
  color: #eeb6b4;
  text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 4rem;
}

.last{
  width: 600px;
  height: 440px;
  float:  right;
}

.Features{
  font-family: 'Bitter', serif;
  color:#a9b0cb;
font-weight: bolder;
  text-align: center;
  font-size: 2.25rem;
}
.Features-2{
  font-family: 'Bitter', serif;
  color:#a9b0cb;

  text-align: center;
  font-size: 1.3rem;
}
.details{
  font-size: 4.5rem;
  color:#eeb6b4;
/* font-weight: bolder; */
  text-align: center;
    /* padding-bottom: 30%; */
}
.d-l{
  font-size: 1.25rem;
  color:#a9b0cb;
  margin:0;
font-weight: bold;
  text-align: center;

}
.x{
  width: 150px;
  height: 100px;
  margin-left: 10%;
}
.foot{
  background-color: white;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}
